/* goldman-regular - latin */
@font-face {
  font-family: 'Goldman';
  /* font-style: normal; */
  font-weight: 400;
  src: url('../fonts/goldman-v15-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/goldman-v15-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/goldman-v15-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/goldman-v15-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/goldman-v15-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/goldman-v15-latin-regular.svg#Goldman') format('svg');
  /* Legacy iOS */
}

body {
    background-color:rgb(47, 134, 168);
    /* overflow-y: hidden;
    overflow-x: hidden; */
}

.instruction {
    font-family: 'Goldman', cursive;
    width: 1024;
    text-align: justify;
    font-size: 20px;
    color: rgb(34, 170, 68);
}

.instructionCenter {
    font-family: 'Goldman', cursive;
    width: 1024;
    text-align: center;
    font-size: 20px;
    color: rgb(34, 170, 68);
}

.start {
    font-family: 'Goldman', cursive;
    width: 1024;
    font-size: 20px;
    color: rgb(34, 170, 68);
}

.drama {
    font-family: 'Goldman', cursive;
    width: 1024;
    text-align: center;
    font-size: 20px;
    color: rgb(34, 170, 68);
}

.textbox {
    font-family: 'Goldman', cursive;
    width: 1024;
    text-align:center;
    font-size: 22px;
    font-weight: bold;
    color: rgb(34, 170, 68);
    background-color: rgb(29, 29, 29);
    padding: 1px;
}

.center {
    background-color: rgb(41, 14, 114);
    margin: auto;
    text-align: center;
    width: 1024px;
    border: 3px solid green;
    padding: 10px;
  }

.center2 {
    background-color: rgb(41, 14, 114);
    margin: auto;
    width: 1000px;
    padding: 1px;
}

.space {
    background-color: rgb(41, 14, 114);
    margin: auto;
    width: 1044px;
    border: 3px solid green;
    height: 130px;
    align-content: center;
}

canvas {
    background-color: rgb(34, 170, 68);
    margin: auto;
    display: block;    
}

table.tdc td{
    text-align: center;
    padding: 10px;
}

.button-1 {
    appearance: none;
    background-color: rgb(34, 170, 68);
    background-color: rgba(35,121,32,255);
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.732);
    cursor: pointer;
    display: inline-block;
    font-family: 'Goldman', cursive;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .button-1:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .button-1:hover {
    background-color: #2c974b;
  }
  
  .button-1:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .button-1:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .button-1:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }